.kntnt-anchor-link {
  --width: 16px;
  --space: 8px;
  margin-left: calc(0px - var(--width) - var(--space));
  margin-right: var(--space);
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

:is(h1, h2, h3, h4, h5, h6):hover .kntnt-anchor-link {
  opacity: 1;
}